/* fade */
.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* fade-slide */
.fade-slide-enter {
    opacity: 0;
    transform: translateX(-30px);
}

.fade-slide-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.3s;
}

.fade-slide-exit {
    opacity: 1;
    transform: translateX(0);
}

.fade-slide-exit-active {
    opacity: 0;
    transform: translateX(30px);
    transition: all 0.3s;
}

/* fade-bottom */
.fade-bottom-enter {
    opacity: 0;
    transform: translateY(-10%);
}

.fade-bottom-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition:
        opacity 0.25s,
        transform 0.3s;
}

.fade-bottom-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-bottom-exit-active {
    opacity: 0;
    transform: translateY(10%);
    transition:
        opacity 0.25s,
        transform 0.3s;
}

/* fade-scale */
.fade-scale-enter {
    opacity: 0;
    transform: scale(1.2);
}

.fade-scale-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 0.28s;
}

.fade-scale-exit {
    opacity: 1;
    transform: scale(1);
}

.fade-scale-exit-active {
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.28s;
}

/* zoom-fade */
.zoom-fade-enter {
    opacity: 0;
    transform: scale(0.92);
}

.zoom-fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition:
        transform 0.2s,
        opacity 0.3s ease-out;
}

.zoom-fade-exit {
    opacity: 1;
    transform: scale(1);
}

.zoom-fade-exit-active {
    opacity: 0;
    transform: scale(1.06);
    transition:
        transform 0.2s,
        opacity 0.3s ease-out;
}

/* zoom-out */
.zoom-out-enter {
    opacity: 0;
    transform: scale(0);
}

.zoom-out-enter-active {
    opacity: 1;
    transform: scale(1);
    transition:
        opacity 0.1s ease-in-out,
        transform 0.15s ease-out;
}

.zoom-out-exit {
    opacity: 1;
    transform: scale(1);
}

.zoom-out-exit-active {
    opacity: 0;
    transform: scale(0);
    transition:
        opacity 0.1s ease-in-out,
        transform 0.15s ease-out;
}
